:root {
  --navy-blue: #2e2f42;
  --slate-color: #434455;
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 320px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .title-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--white-color);
    margin: 0 auto 72px auto;
    width: 100%;
    max-width: 320px;
  }

  .title-2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 72px;
  }

  .title-3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
  }

  .title-4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
  }

  .title-5 {
    font-weight: 500;
    margin-bottom: 16px;
  }

  /* Header */

  nav {
    margin-right: auto;
  }

  .header__menu {
    display: none;
  }

  .header__address {
    display: none;
  }

  .custom-link__logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    font-style: normal;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
  }

  .custom-link__logo span {
    color: var(--iris-color);
  }

  .burger-menu {
    background-color: inherit;
    border: none;
    stroke: var(--navy-blue);
    cursor: pointer;
  }

  /* index.html */

  /* Solutions-section */

  .solutions-section {
    padding-top: 112px;
    padding-bottom: 112px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/mobile/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--navy-blue);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .solutions-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/mobile/hero-bg@2x.jpg);
    }
  }

  .solutions-section__button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--iris-color);
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px 0px #00000026;
    display: block;
    margin: 0 auto;
    transition: background-color ease-in-out;
  }

  .solutions-section__button:active {
    background-color: var(--ocean-color);
  }

  /* strategy-section */

  .strategy-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .strategy-section__cards-item {
    margin-bottom: 72px;
  }

  .strategy-section__cards-item:last-child {
    margin-bottom: 0;
  }

  .strategy-section__cards-item__svg {
    display: none;
  }

  .strategy-section__cards-item .title-3 {
    margin-bottom: 8px;
  }

  /* doing-section */

  .doing-section {
    display: none;
  }

  /* team-section */
  .team-section {
    background-color: var(--cloud-color);
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-section__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  .team-section__cards-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    text-align: center;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: var(--white-color);
  }

  .team-section__cards-item__img {
    max-width: 100%;
    height: auto;
  }

  .team-section__cards-item__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team-section__cards-item__links-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .team-section__cards-item__links__icon {
    height: 40px;
    width: 40px;
  }

  .icon__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 1px solid var(--iris-color);
    background-color: var(--iris-color);
    border-radius: 50%;
    transition: background-color ease-in-out;
  }

  .icon__link:hover {
    background-color: var(--ocean-color);
  }

  .icon__link use {
    fill: var(--white-color);
  }

  .team-section__cards-item__text {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .team-section__cards-item__text .title-4 {
    margin-bottom: 8px;
  }

  .team-section__cards-item__p {
    margin-bottom: 8px;
  }

  /* Customers-section */
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-section__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }

  .customers-section__list-item {
    width: calc(50% - 16px);
    height: 88px;
  }

  .customers-section__list-item a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    transition: fill ease-in-out;
  }

  .customers-section__list-item use {
    fill: #8e8f99;
  }

  .customers-section__list-item:hover a {
    border-color: #404bbf;
  }

  .customers-section__list-item:hover use {
    fill: #404bbf;
  }

  /* footer */

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--navy-blue);
    color: var(--cloud-color);
    text-align: center;
  }

  .footer__text {
    font-weight: 400;
    width: 100%;
    max-width: 268px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .footer__text .custom-link__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    margin-bottom: 18px;
    padding: 0;
    text-align: center;
  }

  .footer__icons {
    margin-right: 0;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__icons__list {
    display: flex;
    gap: 16px;
  }

  .footer__icons p {
    margin-bottom: 16px;
  }

  .footer__icons__list-item {
    height: 40px;
    width: 40px;
  }

  .list-item__link:hover {
    background-color: #31d0aa;
  }

  .list-item__link use {
    fill: var(--white-color);
  }

  .list-item__link {
    border-radius: 50%;
    background-color: var(--iris-color);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color ease-in-out;
  }

  .footer__subscribe {
    display: flex;
    flex-direction: column;
  }

  .footer__subscribe p {
    margin-bottom: 16px;
  }

  .subscribe__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .subscribe__form label {
    width: 100%;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
  }

  .subscribe__form input {
    color: var(--white-color);
    border: 1px solid var(--white-color);
    padding: 8px 16px;
    width: 100%;
    max-width: 398px;
    border-radius: 4px;
    background-color: inherit;
    outline: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
  }

  .subscribe__form input:active {
    border-color: var(--iris-color);
  }

  .subscribe__form input:focus {
    border-color: var(--iris-color);
  }

  .subscribe__form input::placeholder {
    color: var(--white-color);
  }

  .subscribe__form button {
    padding: 8px 24px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white-color);
    background-color: var(--iris-color);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: flex;
    text-align: center;
  }

  .subscribe__form button svg {
    margin-left: 16px;
    fill: var(--white-color);
  }

  /* Modal */
  .data-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 1px 1px 0 rgba(0, 0, 0, 0.14);
    background: rgba(46, 47, 66, 0.4);
    justify-content: center;
    overflow-y: auto;
    opacity: 1;
    transition: opacity 0.2s, visibility 0.2s;
  }

  .is-hidden {
    visibility: hidden;
    opacity: 0;
  }

  .modal__box {
    padding: 72px 24px 24px 24px;
    position: absolute;
    width: 100%;
    max-width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s;
  }

  .modal_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 16px;
    text-align: center;
  }

  .data-modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--cornflower-color);
    cursor: pointer;
  }

  .data-modal-close:hover {
    background-color: var(--ocean-color);
  }

  .data-modal-close:hover use {
    fill: var(--white-color);
  }

  .data-modal-close:active {
    background-color: var(--ocean-color);
  }

  .data-modal-close:active use {
    fill: var(--white-color);
  }

  .modal-form label {
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }

  .modal-form label:last-child {
    margin-bottom: 16px;
  }

  .modal-form__block {
    margin-bottom: 8px;
  }

  .block-input {
    position: relative;
  }

  .block-input input {
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    height: 40px;
    width: 100%;
  }

  .block-input input:active {
    border-color: var(#4d5ae5);
  }

  .block-input input:focus {
    border-color: var(--iris-color);
  }

  .block-input__icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }

  .block-input input:focus + .block-input__icon {
    fill: var(--iris-color);
  }

  .text-area textarea {
    min-height: 120px;
    height: 100%;
    max-width: 360px;
    width: 100%;
    margin-top: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 14px 17px 14px 17px;
    resize: none;
    outline: transparent;
  }

  .text-area textarea:active {
    border-color: var(--iris-color);
  }

  .text-area textarea:focus {
    border-color: var(--iris-color);
  }

  .text-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .checkbox {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
  }

  .checkbox input {
    display: none;
  }

  .checkbox span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }

  .checkbox a {
    color: var(--iris-color);
  }

  .checkbox label {
    display: block;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }

  .checkbox input:checked + label > span {
    background-color: var(--ocean-color);
    fill: var(--cloud-color);
    border: none;
  }

  .modal__form-btn {
    margin: 0 auto;
    color: var(--white-color);
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    padding: 16px 64px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--iris-color);
    cursor: pointer;
  }

  .modal__form-btn:hover {
    background-color: var(--ocean-color);
  }
}

@media (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .title-1 {
    font-size: 56px;
    line-height: 1.07143;
    margin-bottom: 36px;
    max-width: 100%;
  }

  .title-3 {
    text-align: left;
  }

  /* Header */

  .header__menu {
    display: flex;
    gap: 40px;
  }

  .header__address {
    display: block;
    margin-top: 16px;
  }

  .burger-menu {
    display: none;
  }

  header .custom-link__logo {
    margin-right: 120px;
  }

  .custom-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    text-decoration: none;
    color: inherit;
    font-style: normal;
    font-weight: 500;
  }

  .custom-link:active {
    color: var(--ocean-color);
  }

  .custom-link:hover {
    color: var(--ocean-color);
  }

  .custom-link:focus {
    color: var(--ocean-color);
  }

  .current::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: transparent;
    transition: background-color ease-in-out;
  }

  .custom-link:active .current::after {
    color: var(--ocean-color);
  }

  .custom-link:hover .current::after {
    color: var(--ocean-color);
  }

  .custom-link:focus .current::after {
    color: var(--ocean-color);
  }

  .custom-link.current {
    border-bottom: 4px solid;
    border-radius: 2px;
  }

  .contact-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: var(--slate-color);
  }

  .contact-link:active {
    color: var(--ocean-color);
  }

  /* Solutions-section */
  .solutions-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet/hero-bg.jpg);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .solutions-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/tablet/hero-bg@2x.jpg);
    }
  }

  .solutions-section__container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .solutions-section__container .title-1 {
    width: 100%;
    max-width: 496px;
  }

  /* Strategy-section */

  .strategy-section__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .strategy-section__cards-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }

  /* Team-section */

  .team-section__cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-section__cards-item {
    width: calc((100% - 208px) / 2);
  }

  /* Customers-section */
  .customers-section__list {
    gap: 72px 24px;
    justify-content: center;
  }

  .customers-section__list-item {
    width: calc((100% - 48px) / 3);
  }

  /* Footer */

  .footer__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: justify;
    gap: 72px 24px;
    width: 584px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__text {
    font-weight: 400;
    width: 100%;
    max-width: 268px;
    margin: 0;
  }

  .footer__text .custom-link__logo {
    text-align: left;
    padding: 0;
    margin-bottom: 16px;
  }

  .footer__icons {
    margin-bottom: 0;
    display: block;
    width: 208px;
  }

  .subscribe__form {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
  }

  .subscribe__form label {
    margin-bottom: 0;
    margin-right: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    opacity: 0.6;
  }

  .subscribe__form input {
    width: 264px;
  }
}

@media (min-width: 1158px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1158px;
  }

  .title-3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  header {
    border-bottom: 1px solid var(--cornflower-color);
  }

  header address {
    margin-left: auto;
  }

  .header__address {
    gap: 40px;
    margin-top: 0;
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .contact-link {
    font-weight: 400;
    transition: color ease-in-out;
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
  }

  .contact-link:hover {
    color: var(--ocean-color);
  }

  /* Index.html */
  /* Solution-section */

  .solutions-section {
    padding-top: 188px;
    padding-bottom: 188px;
    margin-bottom: 120px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desktop/hero-bg.jpg);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .solutions-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/desktop/hero-bg@2x.jpg);
    }
  }

  .solutions-section__button:hover {
    background-color: var(--ocean-color);
  }

  /* Strategy-section */
  .strategy-section {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 120px;
  }

  .strategy-section__cards {
    gap: 24px;
  }

  .strategy-section__cards-item {
    width: calc((100% - 72px) / 4);
  }

  .strategy-section__cards-item__svg {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 4px;
  }

  .strategy-section__cards-item p {
    font-weight: 400;
  }

  /* doing-section */
  .doing-section {
    display: block;
    margin-bottom: 120px;
  }

  .doing-section__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .doing-section__cards-item {
    width: calc((100% - 48px) / 3);
  }

  .doing-section__cards-item__img {
    max-width: 100%;
    height: auto;
  }

  /* team-section */
  .team-section__cards {
    gap: 24px;
  }

  .team-section__cards-item {
    width: calc((100% - 72px) / 4);
  }

  /* Customers-section */

  .customers-section__list {
    display: flex;
    gap: 24px;
  }

  .customers-section__list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }

  /* Footer */
  .footer__container {
    width: 100%;
    justify-content: space-between;
  }
}

/* portfolio */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-section__buttons-list {
  gap: 48px 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-section__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-section__cards-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-section__cards-item:hover img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
}

.portfolio-section__cards-item__link {
  transition: box-shadow ease-in-out;
}

.cards-item__info {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
  border-left: 1px solid var(--cornflower-color);
  border-right: 1px solid var(--cornflower-color);
  border-bottom: 1px solid var(--cornflower-color);
}

.portfolio-section__cards-item:hover .cards-item__info {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white-color);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #404bbf;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--cloud-color);
  padding: 40px 32px 164px 32px;
}

.portfolio-section__cards-item__link:hover .overlay-text,
.portfolio-section__cards-item__link:focus .overlay-text {
  transform: translateY(0%);
}

.buttons-list__button {
  padding: 12px 24px 12px 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  color: var(--iris-color);
  background-color: var(--cornflower-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: color ease-in-out;
  transition: background-color ease-in-out;
}

.buttons-list__button:hover {
  color: var(--white-color);
  background-color: var(--ocean-color);
}

.buttons-list__button:active {
  color: var(--white-color);
  background-color: var(--ocean-color);
}

/* burger-menu */
.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 35px 40px 40px;
  background-color: var(--white-color);
  transform: translateX(100%);
  transition: transform 0.3s;
  overflow: hidden;
  z-index: 2;
}

.is-open {
  transform: translateX(0);
}

.menu-btn__close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower-color);
  cursor: pointer;
}

.menu-btn__close:hover {
  background-color: var(--ocean-color);
}

.menu-btn__close:hover use {
  fill: var(--white-color);
}

.menu-btn__close:active {
  background-color: var(--ocean-color);
}

.menu-btn__close:active use {
  fill: var(--white-color);
}

.mobile-menu__list__item {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 40px;
  text-decoration: none;
}

.mobile-menu__list__item:last-child {
  margin-bottom: 0;
}

.mobile-menu__address-and-links {
  margin-top: auto;
}

.mobile-menu__address {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.mobile-menu__address__tel {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  font-style: normal;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--iris-color);
  margin-bottom: 40px;
}

.mobile-menu__address__mail {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu__links-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56px;
}

.mobile-menu__address__links__icon {
  height: 40px;
  width: 40px;
}
